<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <title> Notificacin acerca de la validacion del correo</title>
</head>
<body>

    <div class="jumbotron">
    <h1>Gracias ahora eres un colaborador de la plataforma de BIOLAC</h1>
    <p>  Presiona el siguiente boton para acceder a la plataforma </p>

    <p><a class="btn btn-primary btn-lg" href="{{url_for('login')}}" role="button"> Login</a></p>
    </div>

</body>
</html>
