{%extends "index.html" %}

{%block head%}
  <!-- DataTables CSS -->
  <link href="../static\datatables-plugins\integration\bootstrap\3\dataTables.bootstrap.css" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="../static\datatables-responsive\css\dataTables.responsive.css" rel="stylesheet">

  <style media="screen">
  #thumbnail {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    /* Aqui pon el url de la imagen que subio el usuario */
    background-image: url("{{ url_for('static',filename = avatar_url) }}");

    /* make a square container */
    width: 35px;
    height: 35px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
  }
  </style>
{% endblock %}

{% block avatar %}
 <img style="display: inline-block" id="thumbnail" class="avatar img-responsive">
 <strong style="margin:0px 0px 0px 2px; padding-top:20px">{{name}}</strong>
{% endblock %}

{%block menu%}
  {% if user_level == 1 %}
    <!--Standard User-->
    <ul class="nav" id="side-menu">
        <li>
            <a href="{{url_for('home')}}"><i class="fa fa-home fa-fw"></i> Home</a>
        </li>
        <li>
            <a href="/Apply"><i class="fa fa-pencil-square-o fa-fw"></i> Apply<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{url_for('apply_courses')}}">Courses</a>
                </li>
                <li>
                    <a href="{{url_for('apply_fellow')}}">Fellow</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="/Applications"><i class="fa fa-briefcase fa-fw"></i> My Applications<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{url_for('courses_application')}}">Courses</a>
                </li>
                <li>
                    <a href="{{url_for('fellow_application')}}">Fellow</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="{{url_for('logout')}}"> <i class="fa fa-sign-out fa-fw"></i>Log out</a>
        </li>


    </ul>
  {% endif %}
  <!--Evaluator User with badges-->
  {% if user_level == 2 %}
    <ul class="nav" id="side-menu">
      <li>
          <a href="/home"><i class="fa fa-home fa-fw"></i> Home</a>
      </li>
      <li>
          <a href="/Apply"><i class="fa fa-pencil-square-o fa-fw"></i> Apply<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
              <li>
                  <a href="{{url_for('apply_courses')}}">Courses</a>
              </li>
              <li>
                  <a href="{{url_for('apply_fellow')}}">Fellow</a>
              </li>
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="/Applications"><i class="fa fa-briefcase fa-fw"></i> My Applications<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
              <li>
                  <a href="{{url_for('courses_application')}}">Courses</a>
              </li>
              <li>
                  <a href="{{url_for('fellow_application')}}">Fellow</a>
              </li>
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="/Asignments"><i class="fa fa-file-text-o fa-fw"></i> Asignments <span style="background-color: #337ab7;" class="badge">{{pending.asignments}}</span><span class="fa arrow"> </span></a>
          <ul class="nav nav-second-level">
              <li>
                  <a href="{{url_for('asign_courses')}}">Courses  <span style="background-color: #337ab7;" class="badge">{{pending.asigned_courses}}</span></a>
              </li>
              <li>
                  <a href="{{url_for('asign_fellow')}}">Fellow  <span style="background-color: #337ab7;" class="badge">{{pending.asigned_fellows}}</span></a>
              </li>
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="/Evaluations"><i class="fa fa-check-square-o fa-fw"></i> My Evaluations<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
              <li>
                  <a href="{{url_for('eval_courses')}}">Courses</a>
              </li>
              <li>
                  <a href="{{url_for('evaluated_fellow_test')}}">Fellow</a>
              </li>
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="{{url_for('logout')}}"> <i class="fa fa-sign-out fa-fw"></i>Log out</a>
      </li>
  </ul>
  {% endif %}

  {% if user_level == 3 %}
    <!--Admin User-->
    <ul class="nav" id="side-menu">
        <li>
            <a href="{{url_for('dashboard')}}"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="/Users"><i class="fa fa-user fa-fw"></i> Users<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
                <a href="{{url_for('user')}}"><i class="fa fa-user fa-fw"></i> Users</a>
            </li>
            <li>
              <a href="{{url_for('evaluators')}}">Evaluators</a>
            </li>
          </ul>
        </li>
        <li>
            <a href="/Applications"><i class="fa fa-briefcase fa-fw"></i> Aplications<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{url_for('courses_application')}}">Courses</a>
                </li>
                <li>
                    <a href="{{url_for('fellow_application')}}">Fellow</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="{{url_for('logout')}}"> <i class="fa fa-sign-out fa-fw"></i>Log out</a>
        </li>
    </ul>
  {% endif %}
{%endblock%}

{%block wrapper%}
  <div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
        {% if user_level == 3%}
        <h1 class="page-header">All Fellow</h1>
        {% else %}
        <h1 class="page-header">My Fellow</h1>
        {% endif %}
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Fellow
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                          <tr>
                            {% if user_level == 3%}
                              <th>Fellow</th>
                              <th>Institution</th>
                              <th>Host Institution</th>
                              <th>Mentor</th>
                              <th>Mentor Mail</th>
                              <th>Country</th>
                              <th>Comm. Date</th>
                              <th>Term. Date</th>
                              <th>Evaluations</th>
                              <th>Status</th>
                              <th>More</th>
                            {% else %}
                              <th>Title</th>
                              <th>Place</th>
                              <th>Institution</th>
                              <th>Status</th>
                              <th>More</th>
                            {% endif %}
                          </tr>
                      </thead>
                      <tbody>
                        {% for fellow in fellows_list %}
                          <tr class="odd gradeX">
                            {% if user_level == 3%}
                              <td>{{fellow.name}} {{fellow.lastName}}</td>
                              <td>{{fellow.institution}}</td>
                              <td>{{fellow.hostInstitution}}</td>
                              <td>{{fellow.mentor}}</td>
                              <td>{{fellow.mentor_mail}}</td>
                              <td>{{fellow.citizenship}}</td>
                              <td>{{fellow.commDate}}</td>
                              <td>{{fellow.termDate}}</td>
                              <td>{{fellow.evaluations}}/5</td>
                              <td>{{fellow.status}} </td>
                              <td><a href="{{url_for('fellow_info',token=fellow.token)}}">Manage</a></td>
                            {% else %}
                              <td>{{fellow.title}}</td>
                              <td>{{fellow.place}}</td>
                              <td>{{fellow.institution}}</td>
                              <td>{{fellow.status}}</td>
                              <td><a href="{{url_for('fellow_info',token=fellow.token) }}">Manage</a></td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  <br>
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {% if user_level == 3%}
                      <strong>No Entries?</strong> Nobody have made a fellow application yet.
                      {% else %}
                      <strong>Empty table?</strong> You haven't submitted any application yet.  <a href="{{url_for('apply_fellow')}}" class="alert-link">Click Here </a> to
                      apply to a fellow program.
                      {% endif %}
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <a style="float:right; padding:15px"class="btn btn-primary"type="button" name="button" href="{{url_for('fellow_application')}}">Refresh</a>
                    </div>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
{%endblock%}

{% block table_script %}
  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true
      });
  });
  $(document).ready(function() {
      $('#dataTables-example2').DataTable({
          responsive: true
      });
  });
  </script>
{% endblock %}
