{% macro render_field(field, label_visible=true) -%}
     <!-- <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}"> -->
    {% if field.type != 'HiddenField' and label_visible %}
        <!-- <label for="{{ field.id }}" class="control-label">{{ field.label }}</label> -->

        {{ field(class_='form-control', **kwargs)|safe}}
        {% if field.errors %}
            {% for e in field.errors %}
                <div style="margin-top: 1.2rem;" class="alert alert-danger"> {{e}}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <!-- </div> -->
{%- endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Sign up to UNU-BIOLAC </title>
        <!-- <link rel="stylesheet prefetch" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
        <link type="text/css" rel="stylesheet prefetch" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style-signup.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="section" style="background-color:white;">
            <img src="{{url_for('static',filename='images/logo-alt2.png')}}" width="200px" class="logo"/>
            <div class="contact-box">
                    <p style="text-align: right"><a href="#">English</a></p>
                    <p>+58 (212) 9621120</p>
            </div>
        </div>

        <div class="wrapper">

            <form class="form-signin" method="POST" action="{{url_for('blob')}}" >
             {{ form.csrf_token }}
              <h2 class="form-signin-heading"> Recovery password </h2>

              <!--Login Information-->
                <fieldset>
                  <legend class="form-signin-sub"> Send password recovery procedure to:</legend>


                  {{render_field(form.email, type="email", placeholder="Email Address*", required="required", autofocus="")}}
                  <br>
                  {% with errors = get_flashed_messages(category_filter=["error_password"]) %}
                      {% if errors %}
                         {% for message in errors %}
                        <div style="margin-top: 1.2rem;" class="alert alert-danger"> {{message}}</div>
                        {% endfor %}

                      {% endif %}
                  {% endwith %}

                </fieldset>
                <br>

                <button  id="Submit" class="btn btn-lg btn-primary btn-block" type="submit" style="">Submit</button>

            </form>

         </div>

      </body>

  </html>
